@media (min-width: @mobile) {
    .container {
        width: 100%;
    }
}

@media (min-width: @tablet) {
    .container {
        width: 100%;
    }
}

@media (min-width: @desktop) {
    .container {
        width: 100%;
    }
}

html {
    font-family: @font-family;
}

a {
    text-decoration: none;
}
h1,
h2,
h3,
p {
    text-align: center;
}
