
.features {
    padding-left: 50px;
    padding-right: 50px;

    &__title{
        font-size: 18px;
        font-family: @font-family;
    }
    
    &__item p {
        font-size: 14px; 
        font-family:@font-family;
        line-height: 30px;
    }
    &__opinion p {
        font-size: 14px;
        font-family:@font-family;
        line-height: 30px;
        text-align: center;
    }
}

.features {
    background: @color-light-grey;
    padding-top: 30px;
    padding-bottom: 30px;
    &__item {
        padding-bottom: 20px;
    }
}
.opinion__title {
    font: 18px; 
    font-family:@font-family;
    padding-top: 50px;
}