@color-blue: #283645;
@color-blue-dark: #1d2631;
@color-pink: #d22856;
@background-blue: #1d2631;
@background-grey: #f2f2f2;
@color-light-grey: #f4f4f5;
@color-white: #ffffff;



.main-menu li{
    list-style-type: none;
}


.main-menu {
    display: none;
    &__link {
        text-decoration: none;
        display: block;
        text-align: center;
        color: @color-white;
        font: 18px, @font-family;
        background-color: @background-blue;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid white;
    }
}

.page-header {
    color: @color-light-grey;
    font-family: @font-family;
    background: @color-blue-dark;
    box-sizing: border-box;

    &__download {
        backgraund-color: @color-blue-dark;
    }

    &__title {
        text-align: center;
        font-family: @font-family;
        color: @color-light-grey;
        padding-bottom: 60px;
        padding-top: 40px;
        font-size: 24px;
        padding-right: 30px;
        padding-left: 30px;
    }

    &__background {
        background:@color-blue;
    }

    &__logo {
        float: left;
        background:white;
        padding-left: 20px;
    }
    &__menu {
        float: right;
    }
}


.container-btn {
    display: flex;
}

.btn {
    width: 220px;
    text-align: center;
    background-color: @color-blue-dark;
    border: 3px solid @color-white;
    text-decoration: none;
    margin: auto;
    color: @color-white;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    font-size: 18px;
}

.titles {
    background: @color-white;
    padding-top: 30px;
    padding-bottom: 30px;
}
