.page-header {
    color: @color-light-grey;
    font-family: @font-family;
    background: @color-blue-dark;
    box-sizing: border-box;
    &__download {
        backgraund-color: @color-blue-dark;
    }
    &__title {
        text-align: center;
        font-family: @font-family;
        color: @color-light-grey;
        padding-bottom: 60px;
        padding-top: 40px;
        font-size: 24px;
        padding-right: 30px;
        padding-left: 30px;
    }
    &__background {
        background: @color-blue;
    }
    &__logo {
        float: left;
        background: white;
        padding-left: 20px;
    }
    &__menu {
        float: right;
    }
}



